<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Intro" data-toc-modified-id="Intro-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Intro</a></span></li><li><span><a href="#Import-Packages-&amp;-Data" data-toc-modified-id="Import-Packages-&amp;-Data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Import Packages &amp; Data</a></span></li><li><span><a href="#Clean-&amp;-Explore-Data" data-toc-modified-id="Clean-&amp;-Explore-Data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Clean &amp; Explore Data</a></span></li><li><span><a href="#EDA" data-toc-modified-id="EDA-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>EDA</a></span></li><li><span><a href="#Modeling" data-toc-modified-id="Modeling-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Modeling</a></span><ul class="toc-item"><li><span><a href="#Build-&amp;-Fit-Baseline-Model" data-toc-modified-id="Build-&amp;-Fit-Baseline-Model-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Build &amp; Fit Baseline Model</a></span></li><li><span><a href="#Forecasting-&amp;-Predictions" data-toc-modified-id="Forecasting-&amp;-Predictions-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Forecasting &amp; Predictions</a></span></li><li><span><a href="#Discussion" data-toc-modified-id="Discussion-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Discussion</a></span></li></ul></li><li><span><a href="#Conclusion" data-toc-modified-id="Conclusion-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Conclusion</a></span><ul class="toc-item"><li><span><a href="#Results" data-toc-modified-id="Results-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Results</a></span></li><li><span><a href="#Recommendations" data-toc-modified-id="Recommendations-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Recommendations</a></span></li><li><span><a href="#Future-Work" data-toc-modified-id="Future-Work-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>Future Work</a></span></li></ul></li></ul></div>

# Intro

# Import Packages & Data

In [4]:
# Import Packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
from fbprophet import Prophet

In [6]:
# Import Data

data = pd.read_csv('Historical_Product_Demand.csv')
df = pd.DataFrame(data)

In [7]:
# Preview Data

df.head()

   Product_Code Warehouse Product_Category       Date  Order_Demand
0  Product_0993    Whse_J     Category_028  2012/7/27           100
1  Product_0979    Whse_J     Category_028  2012/1/19           500
2  Product_0979    Whse_J     Category_028   2012/2/3           500
3  Product_0979    Whse_J     Category_028   2012/2/9           500
4  Product_0979    Whse_J     Category_028   2012/3/2           500

# Clean & Explore Data

Since we're fitting time series models, we're going to want to change the Date column to be in datetime format and set it as the index. We'll explore a bit first before getting to that.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999999 entries, 0 to 999998
Data columns (total 5 columns):
Product_Code        999999 non-null object
Warehouse           999999 non-null object
Product_Category    999999 non-null object
Date                988760 non-null object
Order_Demand        999999 non-null int64
dtypes: int64(1), object(4)
memory usage: 38.1+ MB

We can see the 'Date' column has fewer values than the rest of the columns, which indicates missing data. It doesn't look like much of the data are missing, so if they're indeed null, then we can go ahead and drop those rows.

We can also see that basically every category other than 'Order_Demand' are objects. That's totally fine as we will use them to categorize, however our time series will simply be date and demand.

Let's take a look at our summary statistics for order demand.

In [17]:
# Summary statistics
df.describe().round()

       Order_Demand
count      999999.0
mean         5071.0
std         29603.0
min       -999000.0
25%            20.0
50%           300.0
75%          2000.0
max       4000000.0

With a minimum of -999000.0, it looks like this may be a null value, so we can search for those nulls as well.

Let's go ahead and get those rows with null date values removed, and then change our date column into datetime format and rather than set to index actually, we will set it to Facebook Profit's special 'ds' column.

In [18]:
df[df.Order_Demand == -999000]

        Product_Code Warehouse Product_Category       Date  Order_Demand
585144  Product_1241    Whse_J     Category_019  2014/3/27       -999000

In [19]:
df.isnull().any()

Product_Code        False
Warehouse           False
Product_Category    False
Date                 True
Order_Demand        False
dtype: bool

In [21]:
df[df.Date.isnull() == True]

        Product_Code Warehouse Product_Category Date  Order_Demand
45460   Product_1461    Whse_A     Category_019  NaN         10000
456373  Product_1636    Whse_A     Category_019  NaN           100
456374  Product_1461    Whse_A     Category_019  NaN           300
456375  Product_1464    Whse_A     Category_019  NaN           300
456376  Product_1388    Whse_A     Category_019  NaN           200
...              ...       ...              ...  ...           ...
995790  Product_1464    Whse_A     Category_019  NaN          -900
995791  Product_1541    Whse_A     Category_019  NaN          -200
995792  Product_1388    Whse_A     Category_019  NaN          -300
995793  Product_1541    Whse_A     Category_019  NaN          -300
995794  Product_1509    Whse_A     Category_019  NaN          -200

[11239 rows x 5 columns]

This looks like a lot of rows, and that they're all from Warehouse A. Some of them appear to have negative demand as well. Let's take a closer look.

In [22]:
whse_a = df[df.Warehouse == 'Whse_A']
whse_a

        Product_Code Warehouse Product_Category        Date  Order_Demand
34593   Product_0905    Whse_A     Category_023    2012/3/7            50
41029   Product_0097    Whse_A     Category_019   2012/1/18          6000
41030   Product_1496    Whse_A     Category_019   2012/3/13          5000
41031   Product_0097    Whse_A     Category_019   2012/4/16          6000
41032   Product_0097    Whse_A     Category_019   2012/9/24          3900
...              ...       ...              ...         ...           ...
995797  Product_1822    Whse_A     Category_018    2016/3/1             2
995798  Product_1470    Whse_A     Category_019   2016/5/19           100
995799  Product_0599    Whse_A     Category_017   2016/9/15            12
995800  Product_0599    Whse_A     Category_017  2016/10/26            10
995801  Product_0148    Whse_A     Category_023   2016/9/15             1

[153574 rows x 5 columns]

We can see that 11240/153574 of the values are null. There's really no other way to interpolate time data for a warehouse with a NaN value for date, so we're going to remove it. 

We can also check to see how many rows we have for the other warehouses for comparison.

In [24]:
df.Warehouse.value_counts()

Whse_J    715944
Whse_A    153574
Whse_S     88127
Whse_C     42354
Name: Warehouse, dtype: int64

We can see that Warehouse A is the second largest warehouse. There is a decent amount of variance among the warehouses, so it doesn't seem to be much of an issue to remove the rows.

Let's drop the null values.

In [26]:
# Drop rows with NaN values (which were only in Date column)
df = df.dropna()

In [27]:
# Get index of row with large negative order demand 
df[df.Order_Demand == -999000]

        Product_Code Warehouse Product_Category       Date  Order_Demand
585144  Product_1241    Whse_J     Category_019  2014/3/27       -999000

In [29]:
# Drop row 
df = df.drop(index=585144)

# EDA

# Modeling

## Build & Fit Baseline Model

## Forecasting & Predictions

## Discussion

# Conclusion

## Results

## Recommendations

## Future Work